/* input[type="email"]:focus:not(valid) {
    background-color: #f00;
} */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form div * {
    display: block;
}

.container form {
    background: #36393f;
    /* padding: 50px; */
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container form input:after {
    content: 'penis';
    position: absolute;
    bottom: 0;
    background: #fff;
    height: 1px;
    width: 100%;
    z-index: 1;
}

.container form label {
    color: #fff;
}
.container form input, .container form textarea {
    display: block;
    margin-bottom: 15%;
    width: 100%;
    height: 40%;
    padding-left: 5px;
    position: relative;
    background: var(--bgcolor);
    border: none;
    color: #fff;
    transition: all .3s ease-in-out;
    outline: none;
}

.container form #div-btn {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    width: 60%;
    height: 10%;
}
.container form #div-btn button {
    padding: 5px;
    background: var(--AJBOTsec);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Ableton Sans';
    width: 100%;
    height: 100%;
    font-size: 15pt;
    transition: all .2s ease-in-out;
}

.container form #div-btn button:hover i {
    transform: rotate(30deg) translate(-50%, 25%);
}

.container form #div-btn button:active {
    transform: scale(1);
}

.container form #div-btn button:active i {
    transform: rotate(0deg) translate(2500%, -1000%);
    opacity: 0;
}

.container form #div-btn button:hover {
    word-spacing: 10px;
    transform: scale(1.1);
}

.container form #div-btn button i {
    display: inline-block;
    transition: all .2s ease-in-out;
}


.container form input:focus, .container form textarea:focus {
    border-bottom: 2px solid white;
    background: none;
}
.container form textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding-left: 0;
}

.container form label.requis::after {
    content: '*';
    color: #f34;
}

@media (max-width: 920px) {
    .container form {
        width: 80%;
    }
}

@media (max-width: 292px) {
    .container form {
        align-items: center;
    }
    .container form input, .container form textarea {
        width: 80%;
    }
    .container form #div-btn {
        bottom: 2%;
    }
    .container form .input {
        margin-left: auto;
    }
}

#contact-message::-webkit-scrollbar-track {
    padding-bottom: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #272a2f;
}

#contact-message::-webkit-scrollbar {
    padding-bottom: 2px;
    width: 0px;
    background-color: #272a2f;
}

#contact-message::-webkit-scrollbar-thumb {
    padding-bottom: 2px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #009b9b;
}
